opencv-python # Primary image processing
numpy # Array manipulation
Pillow # Standard image processing
beautifulsoup4 # Allows the program to check duplicates in the online database
requests # Ditto
onnxruntime # OCR